.bad-iframe iframe {width:100%;}
.bad-iframe { /* redundant? */
    width:100%;
}

.polaroid {
    text-align: center;
}

.polaroid img {
    max-width: 100%;
}

.polaroid figcaption {
    margin-top: 8px;
}

body {
    font-family: monospace;
    max-width: 80em;
    margin: 40px auto;
    
    color: #444;
    background-color: #eee;
    background-image: radial-gradient(circle at center, #ccc 0%, #ccc 6%, transparent 7%);
    background-size: 15px 15px;

    padding: 0 10px;
}

p {
    line-height: 1.6;
}

pre {
    background-color: #ddd;
    
    border-color: #444;
    padding: .75em;
    border-width: thin;
    border-style: solid;
    border-radius: .5em;
    
    overflow-x: scroll;
    white-space: pre;
}

code {
    background-color: #ddd;
    
    border-color: #444;
    padding: 0 .2em;
    border-width: thin;
    border-style: solid;
    border-radius: 2px;
}

pre code {
    border: none;
    padding: unset;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #444;
        background-image: radial-gradient(circle at center, #555 0%, #555 6%, transparent 7%);
    }
    
    pre {
        background-color: #333;
        border-color: #eee;
    }
    
    code {
        background-color: #333;
        border-color: #eee;
    }
    
    a {
        color: #8ab4f8;
    }

    a:visited {
        color: #C58AF9;
    }
}
