<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{tag} - cxb</title>
        <meta charset="utf-8">
        <meta name="description" content="posts tagged {tag}">
        <meta name="keywords" content="{tag}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <!-- the funny -->
        <script>
            fetch("http://ipv4.games/claim?name=PurdueLUG");
        </script>
    </head>
    <body>
        <header>
            <h1>posts tagged {tag}</h1>
        </header>
        <ul>
            {{ for post in posts }}
            <li>{post.post.front.title} | <code><a href="/{post.path}">{post.path}</a></code></li>
            {{ endfor }}
        </ul>
        <section>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">posts tagged {tag}</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Caleb X. Berger</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </section>
    </body>
</html>
