<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{ front.title } - cxb</title>
        <meta charset="utf-8">
        {{ if front.description }}
        <meta name="description" content="{ front.description }">
        {{ endif }}
        <meta name="keywords" content="{ front.tags | commasep }">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <!-- the funny -->
        <script>
            fetch("http://ipv4.games/claim?name=PurdueLUG");
        </script>
    </head>
    <body>
        <header>
            <h1>{ front.title }</h1>
            {{ if front.subtitle }}
            <small>{ front.subtitle | markdown }</small>
            {{ endif }}
        </header>
        { md_content | markdown }
        <section>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{ front.title }</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Caleb X. Berger</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </section>
    </body>
</html>
